@{
    ViewBag.Title = "Home Page";
}

<p>index</p>
@*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">GİRİŞ YAP</button>
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-header">Giriş Yapma Ekranı</h2>
            </div>
            <form method="post" action="/Home/GirisYap/">
                <div class="modal-body">
                    <label>Kullanıcı Adı:</label>
                   
                    <br />
                    <label>Kullanıcı Şifresi:</label>
                   
                    <br />
               
                    <button type="submit" class="btn btn-info">Giriş Ypt</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Vazgeç</button>
                </div>
            </form>
        </div>
    </div>
</div>*@